.homepage {

    background-image: url('../../../public/Images/FondoHome.jpg');
    height: 91vh;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(15px + 8vw);
}